/* estilo del header */

    .nuevoMenu {
        display: grid;
        grid-area: encabezado;
        grid-template-rows: 100px 100px 100px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-areas: "logo  encabezado encabezado encabezado encabezadp"
       "none  subt       subt       subt       subt"
       "menu  menu       menu       menu       menu"; }
      
      .logo {
        grid-area: logo; }
      
      .logo:hover {
        transform: scale(2, 2); }
      
      .logo img {
        width: 100%;
        height: 100%; }
      
      .encabezado {
        grid-area: encabezado; }
      
      .subt {
        grid-area: subt;
        text-align: center; }
      
      .menu {
        width: 100%;
        grid-area: menu;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
      
      .menu1 {
        width: 20%;
        justify-content: center;
        display: flex; }
      
      .menu1:hover {
        background-color: #f4f9f4; }
      
      .menu2 {
        display: flex;
        width: 20%;
        justify-content: center; }
      
      .menu2:hover {
        background-color: #f4f9f4; }
      
      .menu3 {
        width: 20%;
        display: flex;
        justify-content: center; }
      
      .menu3:hover {
        background-color: #f4f9f4; }
      
      .menu4 {
        display: flex;
        justify-content: center;
        width: 20%; }
      
      .menu4:hover {
        background-color: #f4f9f4; }
      
      .menu5 {
        width: 20%;
        display: flex;
        justify-content: center; }
      
      .menu5:hover {
        background-color: #f4f9f4; }
      