/* queries de la seccion locales */
@media screen and (min-width: 576px) {
    .servicios-contenedor{
            display: flex;
            justify-content: space-around;
    }
    .servicios-vigilancia{
        height: 50%;
        width: 15%;
    }
    .servicios-estacionamiento{
        height: 50%;
        width: 15%;

        
    }
    .servicios-wifi{
        height: 50%;
        width: 15%;

    }
    
}
@media only screen and (max-width: 576px) {

    .sucursales{
        height: 1050px ;
    }
    .sucursales-primera-img{
        margin: 20px;
    }
    .sucursales-segunda-img{
        margin: 20px;
    }
    .ubicaciones{
        height: auto;
    }
    .ubicaciones-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servicios{
        height: auto;
    }
    .servicios-contenedor{
        display: flex;
        justify-content: center;
    }
}