/* queries de la seccion locales */
@media only screen and (max-width: 576px) {

    .sucursales{
        height: 1050px ;
    }
    .sucursales-primera{
        width: 100%;
    }
    .sucursales-segunda-img{
        width: 100%;
    }
    .ubicaciones{
        height: auto;
    }
    .servicios{
        height: auto;
    }
}