h1{
    color: $color1;
    font-family: $fuenteH;
    text-align: center;
    font-size: 60px;
}
h2{
    color: $color2;
    font-family: $fuenteH;
    font-size: 40px;
}
h3{
    font-family: $fuenteH;
    color: $color1;
 }
h4{
    font-family: $fuenteH;
    color: $color1;
}
  